$font-black:#222222;
$font-glay:#C8C8C8;
$font-pink:#EE4477;
$font-red:#D90909;
$base-color:#00C3C3;
$gray-color:#cccccc;
$boder-color:#cccccc;
$ttl-bg:#F3F2F2;

@mixin gradation{
	background: -webkit-linear-gradient(20deg, #42E4B2 0%, #00C3C3 100%);
	background: -o-linear-gradient(20deg, #42E4B2 0%, #00C3C3 100%);
	background: -ms-linear-gradient(20deg, #42E4B2 0%, #00C3C3 100%);
	background: linear-gradient(20deg, #42E4B2 0%, #00C3C3 100%);
}

// Round (小数点四捨五入)
@function round-decimal ($number, $digits: 0) {
    @return to-fixed($number, $digits, 'round');
}

// 表記例：round-decimal(変数 / 基準となるフォントサイズ + 0em)
@function to-fixed ($number, $digits: 0, $round: 'round') {
    $n: 1;
    // $number must be a number
    @if type-of($number) != number {
        @warn '#{ $number } is not a number.';
        @return $number;
    }
    // $digits must be a unitless number
    @if type-of($digits) != number {
        @warn '#{ $digits } is not a number.';
        @return $number;
    } @else if not unitless($digits) {
        @warn '#{ $digits } has a unit.';
        @return $number;
    }
    @for $i from 1 through $digits {
        $n: $n * 10;
    }
    @if $round == 'round' {
        @return round($number * $n) / $n;
    } @else if $round == 'ceil' {
        @return ceil($number * $n) / $n;
    } @else if $round == 'floor' {
        @return floor($number * $n) / $n;
    } @else {
        @warn '#{ $round } is undefined keyword.';
        @return $number;
    }
}


//  width;320pxを基軸としてfont-sizeのvwを算出
// https://qiita.com/katsunory/items/3bede89cee8e2ded8426
body{
	position:relative;
	color:#505050;
	font-size:12px; 
	line-height:1.5;
	text-align:left;
}

a{
	text-decoration: none;
	display:block;
	&:hover{
		cursol:pointer;
	}
}

img{
	display:block;
	width:100%;
	object-fit:contein;
}

header{
	position:fixed;
	width:100%;
	padding:10px;
	background:white;
	border-bottom:1px solid #e7e7e7;
	z-index:99;
	.h-logo{
		width:117px;
		height:24px;
		a{
			width:100%;
      i{
        width:18px;
        height:18px;
        float:left;
      }
		}
	}
}

footer{
	text-align:center;
	border-top:1px solid $boder-color;
	margin-top:round-decimal(30 / 10 + 0em);
	padding-top:round-decimal(10 / 10 + 0em);
	small{
		font-size:10px;
	}
}

main{
	padding-top:45px;
}


.btn{
	a{
		@include gradation;
		color:white;		
	}	
}

.btn-s, .btn-m, .btn-l, .btn2-s, .btn2-m, .btn2-l, .btn3{
	text-align:center;
	margin:0 auto;	
}

.btn-s, .btn-m, .btn-l{
	a{
		display:inline-block;
		color:white;
		@include gradation;	
	}
}

.btn2-s, .btn2-m, .btn2-l{
	a{
		display:inline-block;
		border:solid 1.5px $base-color;
		color:$base-color;
		background:white;
	}
}

.btn-s{
	a{
		font-size:12px;
		border-radius:30px;
		padding:round-decimal(10 / 12 + 0em) round-decimal(16 / 12 + 0em);
	}
}

.btn-m{
	a{
		font-size:13px;
		border-radius:28px;	
		padding:round-decimal(14 / 13 + 0em) round-decimal(28 / 13 + 0em);
	}
}

.btn-l{
	a{
		font-size:16px;
		border-radius:30px;
		padding:round-decimal(18 / 16 + 0em) 5.375em;
	}
}

.btn2-s{
	a{
		font-size:12px;
		border-radius:30px;
		padding:round-decimal(10 / 12 + 0em) round-decimal(16 / 12 + 0em);
	}
}

.btn2-m{
	a{
		font-size:13px;
		border-radius:28px;	
		padding:round-decimal(14 / 13 + 0em) round-decimal(28 / 13 + 0em);
	}
}

.btn2-l{
	a{
		font-size:16px;
		border-radius:30px;
		padding:round-decimal(18 / 16 + 0em) 5.375em;
	}
}

.btn3{
	a{
		display:inline-block;		
		color:white;
		font-size:15px;
		border-radius:30px;
		padding:round-decimal(18 / 15 + 0em) round-decimal(28 / 12 + 0em);
		background:$gray-color;		
	}
}

.mitei{
  background:#C8C8C8;     
}
.teian{
  background:#00C3C3;
}
.goryu{
  background: #F1CA32;
}
.kakutei{
  background:#FF66BB;
} 
.msg-head-ttl{
  display:initial;
  color:white;
  font-weight:normal;
  border-radius:30px;
  padding:0.5em 1.25em;
} 

.daiamond {
  width: 80px;
  height: 28px;
  background-image: linear-gradient(35deg, #00DDFF 0%, #ACFFDD 100%);
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  color: #fff;
  border-radius: 30px;
  margin-left: auto;
}

.platinum {
  width: 80px;
  height: 28px;
  background-image: linear-gradient(34deg, #797979 0%, #ccc9c9 100%);
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  color: #fff;
  border-radius: 30px;
  margin-left: auto;
}

.bronz {
  width: 80px;
  height: 28px;
  background-image: linear-gradient(33deg, #776363 0%, #c7b1b1 100%);
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  color: #fff;
  border-radius: 30px;
  margin-left: auto;
}

.today-ok {
  width: 50px;
  height: 24px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  color: #fff;
  border-radius: 30px;
  background: rgba(34,34,34,0.40);
  border-radius: 100px;
}


.online {
  width: 80px;
  height: 24px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  color: #fff;
  border-radius: 30px;
  background: rgba(34,34,34,0.40);
  border-radius: 100px;
  .green {
    font-size: 14px;
    color: #99DD33;
    margin-right: .2em;
  }
}

.h24 {
  width: 84px;
  height: 24px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  color: #fff;
  border-radius: 30px;
  background: rgba(34,34,34,0.40);
  border-radius: 100px;
  .yellow {
    font-size: 14px;
    color: #F1CA32;
    margin-right: .2em;
  }
}

.day3 {
  width: 70px;
  height: 24px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  color: #fff;
  border-radius: 30px;
  background: rgba(34,34,34,0.40);
  border-radius: 100px;
  .gray {
    font-size: 14px;
    color: #E7E7E7;
    margin-right: .2em;
  }
}



.border-b{
	border-bottom:solid 1px $boder-color;
}

.list-style{
	padding:10px 0;		
	border-bottom:1px solid #F3F2F2;
}