/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/public/bundle
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
deploy
.DS_Store
package-lock.json
#storage/fonts/*
#!storage/fonts/ja.ttf