.gn-1 .list_wrap .list_item .btn_wrap .btn-cancel {
  text-align: center;
}

#gg2 .msg-wrap .text::after {
  background: url(../images/gg2/msg.png) no-repeat center;
}

#gg2 .tgl .d-top .d-top-time:before {
  background: url(../images/gg2/glass.svg) no-repeat bottom;
}

#gg2 .tgl .d-top .d-top-place:before {
  background: url(../images/gg2/glass.svg) no-repeat bottom;
}

#gg2 .tgl {
  position: fixed;
}

@media (max-width: 320px) {
  .gn-1 .list_wrap .list_item .btn_wrap .btn-cancel {
    text-align: center;
  }
}
#login-controller .wrapper {
  background: url('../images/line/login-bg.jpg') center center no-repeat !important;
}
.modal-cancel-order {
  display: none;
}

#gm1 .btn-l button {
  font-size: 14px;
}

.btn-l button {
  margin: 0;
  border: 0px solid;
  border-radius: 30px;
  padding: 1.13em 5.375em;
  display: inline-block;
  color: white;
  background: linear-gradient(20deg, #42E4B2 0%, #00C3C3 100%);
}

.help-block {
  color: red;
}

input[type="date"] {
  background-color: #dcdce5;
  outline: none;
}

input[type="date"]::-webkit-inner-spin-button {
  height: 28px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  font-size: 14px;
}

.init-image-radius {
  border-radius: 50%;
}

#login-controller footer {
  display: none;
}

#login-controller #login {
  padding-top: 0;
}

#login-controller nav {
  z-index: 9;
}
#index-point-controller footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
#index-point-controller .list_wrap {
  padding-top: 15px;
}
