.gn-1 .list_wrap .list_item .btn_wrap .btn-cancel {
  text-align: center;
}

#gg2 .msg-wrap .text::after {
  background: url(../images/gg2/msg.png) no-repeat center;
}

#gg2 .tgl .d-top .d-top-time:before {
  background: url(../images/gg2/glass.svg) no-repeat bottom;
}

#gg2 .tgl .d-top .d-top-place:before {
  background: url(../images/gg2/glass.svg) no-repeat bottom;
}

#gg2 .tgl {
  position: fixed;
  margin-top: 45px;
}

#gg .msg-box .msg-box-img li {
  background: url(../images/gg1/man.svg) no-repeat center center;
}

#gg .msg-box .msg-box-ttl .msg-msg h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 50%;
}

.msg-msg {
  width: 285px;
}

#gg2 .msg-head {
  margin-top: 45px;
}

#gg .msg-box .msg-box-ttl .msg-msg p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 240px;
}

#gg .msg-input input[type="text"] {
  padding-left: 35px;
}

.search-box::placeholder {
  padding-left: 0 !important;
}

.wrap-balloon {
  position: relative;
}

.balloon {
  position: absolute;
  width: 30px;
  height: 30px;
  bottom: 10px;
  right: 0;
  border-radius: 30px;
  background-color: #00D2CC;
  text-align: center;
}

.balloon span {
  color: #fff;
  display: inline-block;
  margin-top: 5px;
  font-weight: bold;
  font-size: 14px;
}

@media (max-width: 320px) {
  .gn-1 .list_wrap .list_item .btn_wrap .btn-cancel {
    text-align: center;
  }
}

#login-controller .wrapper {
  background: url('../images/line/login-bg.jpg') center center no-repeat !important;
}

.modal-cancel-order {
  display: none;
}

#gm1 .btn-l button {
  font-size: 14px;
}

.btn-l button {
  margin: 0;
  border: 0px solid;
  border-radius: 30px;
  padding: 1.13em 5.375em;
  display: inline-block;
  color: white;
  background: linear-gradient(20deg, #42E4B2 0%, #00C3C3 100%);
}

.help-block {
  color: red;
}

input[type="date"] {
  background-color: #dcdce5;
  outline: none;
}

input[type="date"]::-webkit-inner-spin-button {
  height: 28px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  font-size: 14px;
}

.init-image-radius {
  border-radius: 50%;
}

#login-controller footer {
  display: none;
}

#login-controller #login {
  padding-top: 0;
}

#login-controller nav {
  z-index: 9;
}

#rooms footer {
  margin-top: 30px !important;
  padding-top: 15px !important;
}

.init-point-minus {
  color: red;
}

#index-point-controller footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#index-point-controller .list_wrap {
  padding-top: 15px;
}
#go1 .star-rating {
  z-index: 0;
}

.btn-cancel {
  color: #222222;
  font-weight: normal;
  display: block;
  border: 1px solid #222222;
  border-radius: 45px;
  padding: 0.79em 1em;
}

.title {
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 1;
  text-align: center;
  height: 45px;
  border-bottom: 1px solid #E4E4E4;
}

.title .btn-back {
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 12px;
}

.title .btn-back a img{
  width: 12px;
  height: 21px;
}

.title .title-name span {
  color: #00CAC2;
  display: inline-block;
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
}

#message-box {
  margin-top: 100px;
}

#gg .msg-input {
  margin-top: 50px;
}
