/* line 8, source/_sass/lp.scss */
html, body {
  position: relative;
  height: 100%; }

/* line 12, source/_sass/lp.scss */
body {
  font-family: "Noto Sans CJK JP",Arial,sans-serif; }

/* line 17, source/_sass/lp.scss */
.warpper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  height: auto;
  position: relative; }

/* line 26, source/_sass/lp.scss */
header {
  width: 100%;
  height: auto; }

/* line 31, source/_sass/lp.scss */
main {
  width: 100%;
  height: auto;
  position: relative; }

/* line 37, source/_sass/lp.scss */
.top-img {
  width: 100%;
  height: auto;
  position: relative; }

/* line 43, source/_sass/lp.scss */
.heading-pink {
  width: 100%;
  height: 42px;
  border-radius: 25px;
  overflow: hidden;
  display: -ms-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(to right, #F074B2, #DD2D85); }

/* line 60, source/_sass/lp.scss */
.yukata {
  width: 100%;
  height: auto;
  position: relative; }
  /* line 64, source/_sass/lp.scss */
  .yukata-bg {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0; }
  /* line 71, source/_sass/lp.scss */
  .yukata-inner {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0; }
  /* line 82, source/_sass/lp.scss */
  .yukata-header {
    width: 100%;
    height: auto;
    margin: 30px auto 30px auto;
    font-size: 24px;
    line-height: 1.4;
    color: #fff;
    text-align: center;
    font-family: "Noto Sans CJK JP",sans-serif;
    font-weight: bold; }
    /* line 92, source/_sass/lp.scss */
    .yukata-header span {
      font-size: 30px;
      color: #F7EEA8; }
  /* line 97, source/_sass/lp.scss */
  .yukata-content {
    width: 100%;
    height: auto;
    margin-bottom: 32%; }
    /* line 101, source/_sass/lp.scss */
    .yukata-content__text {
      width: 100%;
      height: auto;
      font-size: 14px;
      line-height: 1.8;
      color: #fff;
      text-align: center;
      font-weight: bold; }

/* line 113, source/_sass/lp.scss */
.use {
  width: 100%;
  height: auto;
  padding-top: 25px; }
  /* line 117, source/_sass/lp.scss */
  .use-inner {
    width: 100%;
    height: auto;
    padding: 0 20px 20px 20px;
    box-sizing: border-box; }
  /* line 124, source/_sass/lp.scss */
  .use-header {
    margin-bottom: 25px; }
  /* line 128, source/_sass/lp.scss */
  .use-content {
    width: 100%;
    height: auto; }
  /* line 132, source/_sass/lp.scss */
  .use-list {
    width: 100%;
    height: auto;
    display: -ms-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  /* line 140, source/_sass/lp.scss */
  .use-item {
    width: 33.333333%;
    display: -ms-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column; }
    /* line 148, source/_sass/lp.scss */
    .use-item:not(:first-child) {
      margin-left: 17px; }
    /* line 151, source/_sass/lp.scss */
    .use-item__head {
      width: 100%;
      height: 32px;
      display: -ms-flex;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 14px;
      font-weight: bold;
      color: #333333;
      text-align: center;
      line-height: 1.3;
      margin-bottom: 18px; }
    /* line 166, source/_sass/lp.scss */
    .use-item__img {
      width: 100%;
      height: auto;
      margin-bottom: 15px; }
    /* line 171, source/_sass/lp.scss */
    .use-item__link {
      width: 100%;
      height: auto; }
      /* line 174, source/_sass/lp.scss */
      .use-item__link a {
        font-size: 11px;
        line-height: 1.5;
        display: block;
        text-align: center; }
        /* line 179, source/_sass/lp.scss */
        .use-item__link a:link, .use-item__link a:active, .use-item__link a:visited {
          color: #3A8ABC;
          text-decoration: underline; }

/* line 188, source/_sass/lp.scss */
.plan {
  width: 100%;
  height: auto;
  background-color: #FEEEEF;
  -webkit-clip-path: polygon(0 3%, 100% 0, 100% 96%, 0% 100%);
  clip-path: polygon(0 3%, 100% 0, 100% 96%, 0% 100%);
  padding: 10% 0 15% 0; }
  /* line 195, source/_sass/lp.scss */
  .plan-inner {
    width: 100%;
    height: auto;
    padding: 0 20px;
    box-sizing: border-box; }
  /* line 201, source/_sass/lp.scss */
  .plan-header {
    margin-bottom: 30px; }
  /* line 204, source/_sass/lp.scss */
  .plan-content {
    width: 100%;
    height: auto; }
  /* line 208, source/_sass/lp.scss */
  .plan-list {
    width: 100%;
    height: auto; }
  /* line 212, source/_sass/lp.scss */
  .plan-item {
    width: 100%;
    height: auto; }
    /* line 215, source/_sass/lp.scss */
    .plan-item:not(:first-child) {
      margin-top: 40px; }
    /* line 218, source/_sass/lp.scss */
    .plan-item__head {
      width: 100%;
      height: auto;
      margin-bottom: 12px;
      text-align: center;
      color: #DE3087;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.25; }
    /* line 228, source/_sass/lp.scss */
    .plan-item__img {
      width: 100%;
      height: auto;
      margin-bottom: 10px; }
    /* line 233, source/_sass/lp.scss */
    .plan-item__text {
      font-size: 12px;
      color: #333333;
      line-height: 1.6;
      letter-spacing: 0.5px; }
    /* line 239, source/_sass/lp.scss */
    .plan-item .plan-item__text + .plan-item__text {
      margin-top: 30px; }

/* line 246, source/_sass/lp.scss */
.reservation {
  width: 100%;
  height: auto;
  margin-top: 30px; }
  /* line 250, source/_sass/lp.scss */
  .reservation-inner {
    width: 100%;
    height: auto; }
  /* line 254, source/_sass/lp.scss */
  .reservation-header {
    width: 100%;
    height: auto;
    padding: 0 20px;
    box-sizing: border-box; }
  /* line 263, source/_sass/lp.scss */
  .reservation-content {
    width: 100%;
    height: auto; }
  /* line 267, source/_sass/lp.scss */
  .reservation-list {
    width: 100%;
    height: auto; }
  /* line 271, source/_sass/lp.scss */
  .reservation-item {
    width: 100%;
    height: auto;
    background-color: #F0F0F0;
    padding: 15px 20px 15px 20px;
    box-sizing: border-box;
    position: relative; }
    /* line 279, source/_sass/lp.scss */
    .reservation-item:not(:first-child) {
      margin-top: 40px; }
      /* line 281, source/_sass/lp.scss */
      .reservation-item:not(:first-child):before {
        content: "";
        position: absolute;
        top: -25px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 16px 25px 0 25px;
        border-color: #cccccc transparent transparent transparent; }
    /* line 295, source/_sass/lp.scss */
    .reservation-item__head {
      width: 100%;
      height: auto;
      display: -ms-flex;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 15px;
      font-size: 14px;
      font-weight: bold;
      color: #333333; }
      /* line 307, source/_sass/lp.scss */
      .reservation-item__head span {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        display: -ms-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        margin-right: 13px;
        background-color: #8E8E8E;
        font-size: 16px;
        font-weight: bold;
        line-height: 1;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        color: #fff; }
    /* line 324, source/_sass/lp.scss */
    .reservation-item__content {
      width: 100%;
      height: auto;
      display: -ms-flex;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    /* line 332, source/_sass/lp.scss */
    .reservation-item__img {
      width: 140px;
      min-width: 140px;
      height: auto; }
    /* line 337, source/_sass/lp.scss */
    .reservation-item__text {
      width: 100%;
      height: auto;
      margin-left: 10px;
      font-size: 12px;
      color: #333333;
      line-height: 1.7; }
      /* line 344, source/_sass/lp.scss */
      .reservation-item__text span.text-red {
        color: #E31313; }
      /* line 347, source/_sass/lp.scss */
      .reservation-item__text span.icon-yukata {
        width: auto;
        height: auto;
        margin-right: 5px;
        display: inline-block; }

/* line 358, source/_sass/lp.scss */
.notes {
  width: 100%;
  height: auto;
  padding: 40px 20px;
  box-sizing: border-box; }
  /* line 363, source/_sass/lp.scss */
  .notes-inner {
    width: 100%;
    height: auto;
    border: 2px #EAB72D solid;
    border-radius: 3px;
    padding: 25px 10px;
    box-sizing: border-box; }
  /* line 371, source/_sass/lp.scss */
  .notes-header {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    line-height: 1;
    display: -ms-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
    /* line 381, source/_sass/lp.scss */
    .notes-header span {
      width: auto;
      height: auto;
      margin-right: 8px; }
  /* line 388, source/_sass/lp.scss */
  .notes-text {
    width: 100%;
    height: auto;
    font-size: 12px;
    line-height: 1.6;
    color: #333333;
    padding-left: 12px;
    box-sizing: border-box;
    text-indent: -12px; }

/* line 402, source/_sass/lp.scss */
.footer {
  width: 100%;
  height: 25px;
  background-color: #050C2B; }
  /* line 406, source/_sass/lp.scss */
  .footer-inner {
    width: 100%;
    height: 100%;
    display: -ms-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
    /* line 414, source/_sass/lp.scss */
    .footer-inner p {
      font-size: 10px;
      color: #fff;
      line-height: 1;
      letter-spacing: 1px; }

/*# sourceMappingURL=../../sass */