.ge2-1-b{
  .cast-selected{
    width: 100%;
    height: auto;
    padding: 0 15px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    &__photo{
      width: 60px;
      height: auto;
      img{
        width: 100%;
        height: auto;
      }
    }
    &__content{
      margin-left: 6px;
      width: 100%;
    }
    &__name{
      font-size: 14px;
      line-height: 1;
      margin-bottom: 10px;
    }
    &__bottom{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content:space-between;
    }
    &__signature{
      width: 80px;
      height: 24px;
      background-image: linear-gradient(35deg, #ACFFDD 0%, #00DDFF 100%);
      font-size: 11px;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 1;
      color: #fff;
      border-radius: 30px;
    }
    &__price{
      width: auto;
      height: auto;
      font-size: 11px;
      line-height: 1;
      color: #222222;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 15px;
      box-sizing: border-box;
      span{
        font-size: 19px;
        margin-left: 10px;
        font-weight: bold;
      }
    }
  }

  .reservation-total{
    width: 100%;
    height: auto;
    padding: 0 8px;
    box-sizing: border-box;
    &__content{
      width: 100%;
      height: auto;
      padding: 25px 35px;
      border:1px #00c3c3 solid;
      border-radius: 20px;
      box-sizing: border-box;
    }
    &__sum{
      width: 100%;
      height: auto;
      font-size: 17px;
      color: #00c3c3;
      line-height: 1;
      font-weight: bold;
      display: flex;
      justify-content:space-between;
      align-items: center;
      margin-bottom: 15px;
      span{
        color: #222222;
      }
    }
    &__text{
      font-size: 14px;
      color: #999999;
      line-height: 1;
    }
  }

  .reservation-policy{
    width: 100%;
    height: auto;
    padding: 0 30px;
    box-sizing: border-box;
    margin-top: 28px;
    margin-bottom: 18px;
    .checkbox {
        position: relative;
        display:inline-flex;
        align-items: center;
        cursor: pointer;
        color: #222222;
        font-size: 14px;
        word-break: break-all;

        a{
          color: #00c3c3;
          font-size: 14px;
          letter-spacing: 2px;
        }
    }
    .checkbox input[type="checkbox"] {
        position: absolute;
        z-index: -1;
        opacity: 0;
        filter: alpha(opacity=0);
        appearance: checkbox;
        -webkit-appearance: checkbox;
        &:checked + span:after{
          width: 100%;
          height: 100%;
          content: "";
          top: 50%;
          left: 50%;
          margin-left: -5px;
          margin-top: -12px;
          width: 9px;
          height: 16px;
          border-width: 0 3px 3px 0 !important;
          transform: rotate(45deg);
          position: absolute;
          border: solid #fff;
        }
    }

    .checkbox span {
        width: 36px;
        min-width: 36px;
        height: 36px;
        box-sizing: border-box;
        border-radius: 10px;
        background: none;
        position: relative;
        display: inline-block;
        margin-right: 10px;
        background-color: #00c3c3;
    }
  }

}